<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="tokenAuthPoc" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="tokenAuthPoc" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="tokenAuthPoc" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NgTokenAuth POC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-cookie/4.1.0/angular-cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-token-auth/0.0.30/ng-token-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="./javascript/app.js"></script>
    <script src="./javascript/controllers/login_controller.js"></script>
    <script src="./javascript/services/students_service.js"></script>

  </head>
  <body ng-app="tokenAuthPoc">
    <div ng-controller="LoginController">
      <div>
        <h4>{{title}}</h4>
        <p>{{user || 'No data'}}</p>
        <div>
          <input ng-click="login()" type='button' value='Log in'>
        </div>
        <div>
          <h5>GET /api/v1/students and show a random student</h4>
          <input ng-click="getStudents()" type='button' value='Pegale al endpoint!' ng-disabled="!enable_requests">
          <p>Amount: {{ student_count }}</p>
          <p>First Student: {{ student }}</p>
        </div>
      </div>
    </div>
  </body>
</html>